<a href="https://colab.research.google.com/github/SaqlainHussainShah/implementation-of-sdi/blob/master/PCA_added_knn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import time
from sklearn.metrics import accuracy_score

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
len(df.columns)

86

In [2]:
t1=time.time()
df1=pd.read_csv("/content/drive/My Drive/Friday-WorkingHours-Afternoon-DDos.pcap_ISCX.csv")
df2=pd.read_csv("/content/drive/My Drive/Friday-WorkingHours-Afternoon-PortScan.pcap_ISCX.csv")
df3=pd.read_csv("/content/drive/My Drive/Friday-WorkingHours-Morning.pcap_ISCX.csv")
df4=pd.read_csv("/content/drive/My Drive/Monday-WorkingHours.pcap_ISCX.csv")
df5=pd.read_csv("/content/drive/My Drive/Thursday-WorkingHours-Afternoon-Infilteration.pcap_ISCX.csv")
df6=pd.read_csv("/content/drive/My Drive/Thursday-WorkingHours-Morning-WebAttacks.pcap_ISCX.csv")
df7=pd.read_csv("/content/drive/My Drive/Tuesday-WorkingHours.pcap_ISCX.csv")
df8=pd.read_csv("/content/drive/My Drive/Wednesday-workingHours.pcap_ISCX.csv")
t2=time.time()
print(" time = " , (t2-t1)/60 , " minutes ")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

 time =  0.4679504553476969  minutes

In [0]:
pdList=[df1,df2,df3,df4,df5,df6,df7,df8]
df = pd.concat(pdList)

In [0]:
del pdList
del df1
del df2
del df3
del df4
del df5
del df6
del df7
del df8

In [5]:
df2=df[df.columns[7:-1]]
df2[' Label']=df[' Label']
df=df2
df2=[]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [0]:
del df2

### Some required preprocessing

In [0]:
df=df.dropna( axis=0, how='any')
df=df.replace(',,', np.nan, inplace=False)
df=df.drop(columns=[' Fwd Header Length.1'], axis=1, inplace=False)

In [24]:
df.columns

Index([' Flow Duration', ' Total Fwd Packets', ' Total Backward Packets',
       'Total Length of Fwd Packets', ' Total Length of Bwd Packets',
       ' Fwd Packet Length Max', ' Fwd Packet Length Min',
       ' Fwd Packet Length Mean', ' Fwd Packet Length Std',
       'Bwd Packet Length Max', ' Bwd Packet Length Min',
       ' Bwd Packet Length Mean', ' Bwd Packet Length Std', 'Flow Bytes/s',
       ' Flow Packets/s', ' Flow IAT Mean', ' Flow IAT Std', ' Flow IAT Max',
       ' Flow IAT Min', 'Fwd IAT Total', ' Fwd IAT Mean', ' Fwd IAT Std',
       ' Fwd IAT Max', ' Fwd IAT Min', 'Bwd IAT Total', ' Bwd IAT Mean',
       ' Bwd IAT Std', ' Bwd IAT Max', ' Bwd IAT Min', 'Fwd PSH Flags',
       ' Bwd PSH Flags', ' Fwd URG Flags', ' Bwd URG Flags',
       ' Fwd Header Length', ' Bwd Header Length', 'Fwd Packets/s',
       ' Bwd Packets/s', ' Min Packet Length', ' Max Packet Length',
       ' Packet Length Mean', ' Packet Length Std', ' Packet Length Variance',
       'FIN Flag Count', ' SYN Flag Count', ' RST Flag Count',
       ' PSH Flag Count', ' ACK Flag Count', ' URG Flag Count',
       ' CWE Flag Count', ' ECE Flag Count', ' Down/Up Ratio',
       ' Average Packet Size', ' Avg Fwd Segment Size',
       ' Avg Bwd Segment Size', 'Fwd Avg Bytes/Bulk', ' Fwd Avg Packets/Bulk',
       ' Fwd Avg Bulk Rate', ' Bwd Avg Bytes/Bulk', ' Bwd Avg Packets/Bulk',
       'Bwd Avg Bulk Rate', 'Subflow Fwd Packets', ' Subflow Fwd Bytes',
       ' Subflow Bwd Packets', ' Subflow Bwd Bytes', 'Init_Win_bytes_forward',
       ' Init_Win_bytes_backward', ' act_data_pkt_fwd',
       ' min_seg_size_forward', 'Active Mean', ' Active Std', ' Active Max',
       ' Active Min', 'Idle Mean', ' Idle Std', ' Idle Max', ' Idle Min',
       ' Label'],
      dtype='object')

In [0]:
df.replace("Infinity", 0, inplace=True)
df['Flow Bytes/s'].replace("Infinity", 0,inplace=True)
df[" Flow Packets/s"].replace("Infinity", 0, inplace=True)
df[" Flow Packets/s"].replace(np.nan, 0, inplace=True)
df['Flow Bytes/s'].replace(np.nan, 0,inplace=True)


df["Bwd Avg Bulk Rate"].replace("Infinity", 0, inplace=True)
df["Bwd Avg Bulk Rate"].replace(",,", 0, inplace=True)
df["Bwd Avg Bulk Rate"].replace(np.nan, 0, inplace=True)

df[" Bwd Avg Packets/Bulk"].replace("Infinity", 0, inplace=True)
df[" Bwd Avg Packets/Bulk"].replace(",,", 0, inplace=True)
df[" Bwd Avg Packets/Bulk"].replace(np.nan, 0, inplace=True)


df[" Bwd Avg Bytes/Bulk"].replace("Infinity", 0, inplace=True)
df[" Bwd Avg Bytes/Bulk"].replace(",,", 0, inplace=True)
df[" Bwd Avg Bytes/Bulk"].replace(np.nan, 0, inplace=True)


df[" Fwd Avg Bulk Rate"].replace("Infinity", 0, inplace=True)
df[" Fwd Avg Bulk Rate"].replace(",,", 0, inplace=True)
df[" Fwd Avg Bulk Rate"].replace(np.nan, 0, inplace=True)


df[" Fwd Avg Packets/Bulk"].replace("Infinity", 0, inplace=True)
df[" Fwd Avg Packets/Bulk"].replace(",,", 0, inplace=True)
df[" Fwd Avg Packets/Bulk"].replace(np.nan, 0, inplace=True)


df["Fwd Avg Bytes/Bulk"].replace("Infinity", 0, inplace=True)
df["Fwd Avg Bytes/Bulk"].replace(",,", 0, inplace=True)
df["Fwd Avg Bytes/Bulk"].replace(np.nan, 0, inplace=True)


df[" CWE Flag Count"].replace("Infinity", 0, inplace=True)
df[" CWE Flag Count"].replace(",,", 0, inplace=True)
df[" CWE Flag Count"].replace(np.nan, 0, inplace=True)

df[" Bwd URG Flags"].replace("Infinity", 0, inplace=True)
df[" Bwd URG Flags"].replace(",,", 0, inplace=True)
df[" Bwd URG Flags"].replace(np.nan, 0, inplace=True)

df[" Bwd PSH Flags"].replace("Infinity", 0, inplace=True)
df[" Bwd PSH Flags"].replace(",,", 0, inplace=True)
df[" Bwd PSH Flags"].replace(np.nan, 0, inplace=True)

df[" Fwd URG Flags"].replace("Infinity", 0, inplace=True)
df[" Fwd URG Flags"].replace(",,", 0, inplace=True)
df[" Fwd URG Flags"].replace(np.nan, 0, inplace=True)

In [0]:
df["Flow Bytes/s"]=df["Flow Bytes/s"].astype("float64")
df[' Flow Packets/s']=df[" Flow Packets/s"].astype("float64")

In [0]:
df['Bwd Avg Bulk Rate']=df["Bwd Avg Bulk Rate"].astype("float64")
df[' Bwd Avg Packets/Bulk']=df[" Bwd Avg Packets/Bulk"].astype("float64")
df[' Bwd Avg Bytes/Bulk']=df[" Bwd Avg Bytes/Bulk"].astype("float64")
df[' Fwd Avg Bulk Rate']=df[" Fwd Avg Bulk Rate"].astype("float64")
df[' Fwd Avg Packets/Bulk']=df[" Fwd Avg Packets/Bulk"].astype("float64")
df['Fwd Avg Bytes/Bulk']=df["Fwd Avg Bytes/Bulk"].astype("float64")
df[' CWE Flag Count']=df[" CWE Flag Count"].astype("float64")
df[' Bwd URG Flags']=df[" Bwd URG Flags"].astype("float64")
df[' Bwd PSH Flags']=df[" Bwd PSH Flags"].astype("float64")
df[' Fwd URG Flags']=df[" Fwd URG Flags"].astype("float64")

In [0]:
# Bwd Avg Bulk Rate
# Bwd Avg Packets/Bulk
# Bwd Avg Bytes/Bulk
# Fwd Avg Bulk Rate
# Fwd Avg Packets/Bulk
# Fwd Avg Bytes/Bulk
# CWE Flag Count
# Bwd URG Flags
# Bwd PSH Flags 
# Fwd URG Flags

In [0]:
pd.set_option('display.max_rows', df.shape[0])

In [0]:
df[['Bwd Avg Bulk Rate',' Bwd Avg Packets/Bulk',  ' Bwd Avg Bytes/Bulk',' Fwd Avg Bulk Rate',' Fwd Avg Packets/Bulk','Fwd Avg Bytes/Bulk', ' CWE Flag Count', ' Bwd URG Flags', ' Bwd PSH Flags', ' Fwd URG Flags']].head(1000)

In [0]:
df[['Bwd Avg Bulk Rate',' Bwd Avg Packets/Bulk',  ' Bwd Avg Bytes/Bulk',' Fwd Avg Bulk Rate',' Fwd Avg Packets/Bulk','Fwd Avg Bytes/Bulk', ' CWE Flag Count', ' Bwd URG Flags', ' Bwd PSH Flags', ' Fwd URG Flags']].info()

In [0]:
X=df[df.columns[1:-1]]
y=df[df.columns[-1]]

In [81]:
X.replace('Infinity',0.0, inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [0]:
del df

In [82]:
X.replace('NaN',0.0, inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

Z score

In [0]:
from scipy import stats

In [93]:
cols = list(X.columns)
for col in cols:
    X[col] = stats.zscore(X[col])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:2315: RuntimeWarning: invalid value encountered in true_divide
  return (a - mns) / sstd

In [96]:
X.replace(np.nan, 0, inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [97]:
X.head()

    Total Fwd Packets   Total Backward Packets  ...   Idle Max   Idle Min
0           -0.008670                -0.009480  ...  -0.297116  -0.271677
1           -0.010045                -0.008443  ...  -0.297116  -0.271677
2           -0.010045                -0.008443  ...  -0.297116  -0.271677
3           -0.010045                -0.008443  ...  -0.297116  -0.271677
4           -0.008670                -0.009480  ...  -0.297116  -0.271677

[5 rows x 75 columns]

In [0]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1233052 entries, 0 to 529917
Data columns (total 75 columns):
 Total Fwd Packets              1233052 non-null float64
 Total Backward Packets         1233052 non-null float64
Total Length of Fwd Packets     1233052 non-null float64
 Total Length of Bwd Packets    1233052 non-null float64
 Fwd Packet Length Max          1233052 non-null float64
 Fwd Packet Length Min          1233052 non-null float64
 Fwd Packet Length Mean         1233052 non-null float64
 Fwd Packet Length Std          1233052 non-null float64
Bwd Packet Length Max           1233052 non-null float64
 Bwd Packet Length Min          1233052 non-null float64
 Bwd Packet Length Mean         1233052 non-null float64
 Bwd Packet Length Std          1233052 non-null float64
Flow Bytes/s                    1233052 non-null float64
 Flow Packets/s                 1233052 non-null float64
 Flow IAT Mean                  1233052 non-null float64
 Flow IAT Std                   1233052 non-null float64
 Flow IAT Max                   1233052 non-null float64
 Flow IAT Min                   1233052 non-null float64
Fwd IAT Total                   1233052 non-null float64
 Fwd IAT Mean                   1233052 non-null float64
 Fwd IAT Std                    1233052 non-null float64
 Fwd IAT Max                    1233052 non-null float64
 Fwd IAT Min                    1233052 non-null float64
Bwd IAT Total                   1233052 non-null float64
 Bwd IAT Mean                   1233052 non-null float64
 Bwd IAT Std                    1233052 non-null float64
 Bwd IAT Max                    1233052 non-null float64
 Bwd IAT Min                    1233052 non-null float64
Fwd PSH Flags                   1233052 non-null float64
 Bwd PSH Flags                  0 non-null float64
 Fwd URG Flags                  0 non-null float64
 Bwd URG Flags                  0 non-null float64
 Fwd Header Length              1233052 non-null float64
 Bwd Header Length              1233052 non-null float64
Fwd Packets/s                   1233052 non-null float64
 Bwd Packets/s                  1233052 non-null float64
 Min Packet Length              1233052 non-null float64
 Max Packet Length              1233052 non-null float64
 Packet Length Mean             1233052 non-null float64
 Packet Length Std              1233052 non-null float64
 Packet Length Variance         1233052 non-null float64
FIN Flag Count                  1233052 non-null float64
 SYN Flag Count                 1233052 non-null float64
 RST Flag Count                 1233052 non-null float64
 PSH Flag Count                 1233052 non-null float64
 ACK Flag Count                 1233052 non-null float64
 URG Flag Count                 1233052 non-null float64
 CWE Flag Count                 0 non-null float64
 ECE Flag Count                 1233052 non-null float64
 Down/Up Ratio                  1233052 non-null float64
 Average Packet Size            1233052 non-null float64
 Avg Fwd Segment Size           1233052 non-null float64
 Avg Bwd Segment Size           1233052 non-null float64
Fwd Avg Bytes/Bulk              0 non-null float64
 Fwd Avg Packets/Bulk           0 non-null float64
 Fwd Avg Bulk Rate              0 non-null float64
 Bwd Avg Bytes/Bulk             0 non-null float64
 Bwd Avg Packets/Bulk           0 non-null float64
Bwd Avg Bulk Rate               0 non-null float64
Subflow Fwd Packets             1233052 non-null float64
 Subflow Fwd Bytes              1233052 non-null float64
 Subflow Bwd Packets            1233052 non-null float64
 Subflow Bwd Bytes              1233052 non-null float64
Init_Win_bytes_forward          1233052 non-null float64
 Init_Win_bytes_backward        1233052 non-null float64
 act_data_pkt_fwd               1233052 non-null float64
 min_seg_size_forward           1233052 non-null float64
Active Mean                     1233052 non-null float64
 Active Std                     1233052 non-null float64
 Active Max                     1233052 non-null float64
 Active Min                     1233052 non-null float64
Idle Mean                       1233052 non-null float64
 Idle Std                       1233052 non-null float64
 Idle Max                       1233052 non-null float64
 Idle Min                       1233052 non-null float64
dtypes: float64(75)
memory usage: 715.0 MB

In [0]:
column_names=X.columns

In [0]:
del df1,df2,df3,df4,df5,df6,df7,df8,df

standard scalar

In [0]:
from sklearn.preprocessing import StandardScaler
X = StandardScaler().fit_transform(X)

In [0]:
X2=X.values

In [0]:
X=X.tolist()

'Total Length of Fwd Packets'

In [0]:
from sklearn.decomposition import PCA
pca = PCA(n_components=20)
principalComponents = pca.fit_transform(X)
principalDf = pd.DataFrame(data = principalComponents, columns = ['Feature 1', 'Feature 2','Feature 3', 'Feature 4',
                                                                  'Feature 5', 'Feature 6', 'Feature 7', 'Feature 8',
                                                                  'Feature 9', 'Feature 10','Feature 11', 'Feature 12',
                                                                  'Feature 13', 'Feature 14','Feature 15', 'Feature 16',
                                                                  'Feature 17', 'Feature 18','Feature 19', 'Feature 20'])

In [0]:
b=y.values

In [16]:
principalDf.head()

   Feature 1  Feature 2  Feature 3  ...  Feature 18  Feature 19  Feature 20
0  -2.007978  -0.048536   0.381732  ...   -0.566353    0.412945   -0.023540
1  -1.947449  -0.043319   0.361271  ...   -0.574096    0.348018   -0.005799
2  -1.958919  -0.043596   0.365268  ...   -0.468320    0.214143    0.011553
3  -1.970648  -0.043852   0.369262  ...   -0.359042    0.081305    0.028487
4  -2.007979  -0.048537   0.381737  ...   -0.566371    0.412952   -0.023540

[5 rows x 20 columns]

In [0]:
principalDf[' Label']=b

In [23]:
principalDf.head()

   Feature 1  Feature 2  Feature 3  ...  Feature 19  Feature 20   Label
0  -2.007978  -0.048536   0.381732  ...    0.412945   -0.023540  BENIGN
1  -1.947449  -0.043319   0.361271  ...    0.348018   -0.005799  BENIGN
2  -1.958919  -0.043596   0.365268  ...    0.214143    0.011553  BENIGN
3  -1.970648  -0.043852   0.369262  ...    0.081305    0.028487  BENIGN
4  -2.007979  -0.048537   0.381737  ...    0.412952   -0.023540  BENIGN

[5 rows x 21 columns]

In [27]:
principalDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2829385 entries, 0 to 2829384
Data columns (total 21 columns):
Feature 1     float64
Feature 2     float64
Feature 3     float64
Feature 4     float64
Feature 5     float64
Feature 6     float64
Feature 7     float64
Feature 8     float64
Feature 9     float64
Feature 10    float64
Feature 11    float64
Feature 12    float64
Feature 13    float64
Feature 14    float64
Feature 15    float64
Feature 16    float64
Feature 17    float64
Feature 18    float64
Feature 19    float64
Feature 20    float64
 Label        object
dtypes: float64(20), object(1)
memory usage: 453.3+ MB

### Save PCA calculated data to save calculations

In [0]:
path='/content/drive/My Drive/PCA-Calculated.csv'
principalDf.to_csv(path)

In [0]:
# empty memory
del X
del y
del b
del principalDf

In [0]:
df=pd.read_csv(path)

In [30]:
df.head()

   Unnamed: 0  Feature 1  Feature 2  ...  Feature 19  Feature 20   Label
0           0  -2.007978  -0.048536  ...    0.412945   -0.023540  BENIGN
1           1  -1.947449  -0.043319  ...    0.348018   -0.005799  BENIGN
2           2  -1.958919  -0.043596  ...    0.214143    0.011553  BENIGN
3           3  -1.970648  -0.043852  ...    0.081305    0.028487  BENIGN
4           4  -2.007979  -0.048537  ...    0.412952   -0.023540  BENIGN

[5 rows x 22 columns]

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2829385 entries, 0 to 2829384
Data columns (total 22 columns):
Unnamed: 0    int64
Feature 1     float64
Feature 2     float64
Feature 3     float64
Feature 4     float64
Feature 5     float64
Feature 6     float64
Feature 7     float64
Feature 8     float64
Feature 9     float64
Feature 10    float64
Feature 11    float64
Feature 12    float64
Feature 13    float64
Feature 14    float64
Feature 15    float64
Feature 16    float64
Feature 17    float64
Feature 18    float64
Feature 19    float64
Feature 20    float64
 Label        object
dtypes: float64(20), int64(1), object(1)
memory usage: 474.9+ MB

In [33]:
df2=df[df.columns[1:-1]]
df2[' Label']=df[df.columns[-1]]
df=df2

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [0]:
del df2

In [36]:
df.columns

Index(['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4', 'Feature 5',
       'Feature 6', 'Feature 7', 'Feature 8', 'Feature 9', 'Feature 10',
       'Feature 11', 'Feature 12', 'Feature 13', 'Feature 14', 'Feature 15',
       'Feature 16', 'Feature 17', 'Feature 18', 'Feature 19', 'Feature 20',
       ' Label'],
      dtype='object')

In [0]:
X=df[df.columns[1:-1]]
y=df[df.columns[-1]]

In [40]:
print(y.head())
X.columns

0    BENIGN
1    BENIGN
2    BENIGN
3    BENIGN
4    BENIGN
Name:  Label, dtype: object

Index(['Feature 2', 'Feature 3', 'Feature 4', 'Feature 5', 'Feature 6',
       'Feature 7', 'Feature 8', 'Feature 9', 'Feature 10', 'Feature 11',
       'Feature 12', 'Feature 13', 'Feature 14', 'Feature 15', 'Feature 16',
       'Feature 17', 'Feature 18', 'Feature 19', 'Feature 20'],
      dtype='object')

In [0]:
from sklearn.model_selection import train_test_split     # import module for train test split
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2, random_state=10)

# Applying KNN

In [0]:
from sklearn.neighbors import KNeighborsClassifier

In [0]:
t1=time.time()
cols=X.columns
for i in range(len(cols)):
    knn=KNeighborsClassifier(n_neighbors=(i+1))
    model_knn=knn.fit(X_train,y_train)
    yhat=model_knn.predict(X_test)
    print("for " , i+1,  " as K, accuracy is : ", accuracy_score(y_test, yhat))
t2=time.time()
print(" time for ", i+1 ," k's :: ", (t2-t1)/60 , " minutes")

for  1  as K, accuracy is :  0.998008401118971
for  2  as K, accuracy is :  0.9976920779604048
for  3  as K, accuracy is :  0.9978900008305692
for  4  as K, accuracy is :  0.9979288785372086
for  5  as K, accuracy is :  0.9978069439118396
for  6  as K, accuracy is :  0.9977486273518803
for  7  as K, accuracy is :  0.9975436358077816
for  8  as K, accuracy is :  0.9975648418295848
for  9  as K, accuracy is :  0.9973563159485188
for  10  as K, accuracy is :  0.9973333427582319
for  11  as K, accuracy is :  0.9971955036165103
for  12  as K, accuracy is :  0.9972396828286005
for  13  as K, accuracy is :  0.9970718018226575
for  14  as K, accuracy is :  0.997078870496592