# This notebook is intended to apply ML algorithms on IDS dataset

##### Steps Followed
   1. Data Cleansing
   2. Creation of Train/Test data
   3. Feature selection
   4. Implementation of ML Algorithms
   5. Evalutaion

In [8]:
# import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import time

# from sklearn import preprocessing      # import required package for labelencoding
# from sklearn.model_selection import train_test_split

## 1. Data Cleansing

In [9]:
path="../dataset/TrafficLabelling /Tuesday-WorkingHours.pcap_ISCX.csv"
t1=time.time()
df_tuesday=pd.read_csv(path)
t2=time.time()
print("time taken to read tuesday csv :: ", t2-t1, " seconds ")

/home/ebryx/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

time taken to read tuesday csv ::  7.976101875305176  seconds

In [10]:
# back up dataframe so don't have to read csv again and again
df_backup=df_tuesday

In [34]:
df_tuesday.describe()
df_tuesday.head(10)
df_tuesday[' Protocol']

AttributeError: 'numpy.ndarray' object has no attribute 'unique'

In [14]:
# In thesis they have mentioned 86 columns, Let's check if they are 1
print(len(df_tuesday.columns))

85

##### ==>> Finding and dropping undefined / incorrect values in data frame

In [15]:
# drop record saved as ,,,,,
df_tuesday_dropped.replace(',,', np.nan, inplace=True)

NameError: name 'df_tuesday_dropped' is not defined

In [19]:
# dropna() removes rows with missing values /NaN in them
df_tuesday_dropped=df_tuesday.dropna( axis=0, how='any')

In [20]:
df_tuesday_dropped.describe()

,Source Port,Destination Port,Protocol,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,...,act_data_pkt_fwd,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min
count,445708.000000,445708.000000,445708.000000,4.457080e+05,445708.000000,445708.000000,4.457080e+05,4.457080e+05,445708.000000,445708.000000,...,445708.000000,4.457080e+05,4.457080e+05,4.457080e+05,4.457080e+05,4.457080e+05,4.457080e+05,4.457080e+05,4.457080e+05,4.457080e+05
mean,40440.360934,8871.387296,10.927073,1.078430e+07,11.805092,13.913282,5.304497e+02,2.187310e+04,173.424843,20.589260,...,2.089283,-1.322383e+04,7.269241e+04,4.672624e+04,1.642832e+05,4.830604e+04,3.295945e+06,1.497780e+05,3.408561e+06,3.146825e+06
std,23960.570907,19516.984841,5.476690,2.956206e+07,867.267890,1172.425787,5.678173e+03,2.626360e+06,472.542965,38.944676,...,6.326468,2.667079e+06,6.207005e+05,3.602303e+05,1.050118e+06,5.650754e+05,1.259041e+07,1.982790e+06,1.293520e+07,1.241154e+07
min,0.000000,0.000000,0.000000,-4.000000e+00,1.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,...,0.000000,-5.368707e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,12614.000000,53.000000,6.000000,1.860000e+02,2.000000,1.000000,6.000000e+00,0.000000e+00,1.000000,0.000000,...,0.000000,2.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,52106.000000,80.000000,6.000000,3.129600e+04,2.000000,2.000000,6.800000e+01,1.370000e+02,41.000000,0.000000,...,1.000000,2.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,59300.000000,443.000000,17.000000,4.691262e+05,4.000000,2.000000,1.500000e+02,3.360000e+02,62.000000,41.000000,...,2.000000,3.200000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,65535.000000,65505.000000,17.000000,1.200000e+08,206446.000000,276072.000000,2.428415e+06,6.270000e+08,24820.000000,2065.000000,...,1846.000000,1.380000e+02,1.070000e+08,2.410000e+07,1.070000e+08,1.070000e+08,1.200000e+08,7.590000e+07,1.200000e+08,1.200000e+08

#####  ==>> Find duplicate columns and drop one of them

In [21]:
df_tuesday_dropped.columns

Index(['Flow ID', ' Source IP', ' Source Port', ' Destination IP',
       ' Destination Port', ' Protocol', ' Timestamp', ' Flow Duration',
       ' Total Fwd Packets', ' Total Backward Packets',
       'Total Length of Fwd Packets', ' Total Length of Bwd Packets',
       ' Fwd Packet Length Max', ' Fwd Packet Length Min',
       ' Fwd Packet Length Mean', ' Fwd Packet Length Std',
       'Bwd Packet Length Max', ' Bwd Packet Length Min',
       ' Bwd Packet Length Mean', ' Bwd Packet Length Std', 'Flow Bytes/s',
       ' Flow Packets/s', ' Flow IAT Mean', ' Flow IAT Std', ' Flow IAT Max',
       ' Flow IAT Min', 'Fwd IAT Total', ' Fwd IAT Mean', ' Fwd IAT Std',
       ' Fwd IAT Max', ' Fwd IAT Min', 'Bwd IAT Total', ' Bwd IAT Mean',
       ' Bwd IAT Std', ' Bwd IAT Max', ' Bwd IAT Min', 'Fwd PSH Flags',
       ' Bwd PSH Flags', ' Fwd URG Flags', ' Bwd URG Flags',
       ' Fwd Header Length', ' Bwd Header Length', 'Fwd Packets/s',
       ' Bwd Packets/s', ' Min Packet Length', ' Max Packet Length',
       ' Packet Length Mean', ' Packet Length Std', ' Packet Length Variance',
       'FIN Flag Count', ' SYN Flag Count', ' RST Flag Count',
       ' PSH Flag Count', ' ACK Flag Count', ' URG Flag Count',
       ' CWE Flag Count', ' ECE Flag Count', ' Down/Up Ratio',
       ' Average Packet Size', ' Avg Fwd Segment Size',
       ' Avg Bwd Segment Size', ' Fwd Header Length.1', 'Fwd Avg Bytes/Bulk',
       ' Fwd Avg Packets/Bulk', ' Fwd Avg Bulk Rate', ' Bwd Avg Bytes/Bulk',
       ' Bwd Avg Packets/Bulk', 'Bwd Avg Bulk Rate', 'Subflow Fwd Packets',
       ' Subflow Fwd Bytes', ' Subflow Bwd Packets', ' Subflow Bwd Bytes',
       'Init_Win_bytes_forward', ' Init_Win_bytes_backward',
       ' act_data_pkt_fwd', ' min_seg_size_forward', 'Active Mean',
       ' Active Std', ' Active Max', ' Active Min', 'Idle Mean', ' Idle Std',
       ' Idle Max', ' Idle Min', ' Label'],
      dtype='object')

<br>
We see that Fwd Header Length comes twice but with different anmes so first change name of Fwd Header Length.1 to Fwd Header Length and then remove it

In [22]:
# This runs but don't work accordingly
df_tuesday_dup_rem = df_tuesday_dropped.loc[:,~df_tuesday_dropped.columns.duplicated()]
len(df_tuesday_dup_rem.columns)

85

In [23]:
df_tuesday_dropped.drop(columns=[' Fwd Header Length.1'], axis=1, inplace=True)

/home/ebryx/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [26]:
len(df_tuesday_dropped.columns)
df_tuesday_dropped.columns

Index(['Flow ID', ' Source IP', ' Source Port', ' Destination IP',
       ' Destination Port', ' Protocol', ' Timestamp', ' Flow Duration',
       ' Total Fwd Packets', ' Total Backward Packets',
       'Total Length of Fwd Packets', ' Total Length of Bwd Packets',
       ' Fwd Packet Length Max', ' Fwd Packet Length Min',
       ' Fwd Packet Length Mean', ' Fwd Packet Length Std',
       'Bwd Packet Length Max', ' Bwd Packet Length Min',
       ' Bwd Packet Length Mean', ' Bwd Packet Length Std', 'Flow Bytes/s',
       ' Flow Packets/s', ' Flow IAT Mean', ' Flow IAT Std', ' Flow IAT Max',
       ' Flow IAT Min', 'Fwd IAT Total', ' Fwd IAT Mean', ' Fwd IAT Std',
       ' Fwd IAT Max', ' Fwd IAT Min', 'Bwd IAT Total', ' Bwd IAT Mean',
       ' Bwd IAT Std', ' Bwd IAT Max', ' Bwd IAT Min', 'Fwd PSH Flags',
       ' Bwd PSH Flags', ' Fwd URG Flags', ' Bwd URG Flags',
       ' Fwd Header Length', ' Bwd Header Length', 'Fwd Packets/s',
       ' Bwd Packets/s', ' Min Packet Length', ' Max Packet Length',
       ' Packet Length Mean', ' Packet Length Std', ' Packet Length Variance',
       'FIN Flag Count', ' SYN Flag Count', ' RST Flag Count',
       ' PSH Flag Count', ' ACK Flag Count', ' URG Flag Count',
       ' CWE Flag Count', ' ECE Flag Count', ' Down/Up Ratio',
       ' Average Packet Size', ' Avg Fwd Segment Size',
       ' Avg Bwd Segment Size', 'Fwd Avg Bytes/Bulk', ' Fwd Avg Packets/Bulk',
       ' Fwd Avg Bulk Rate', ' Bwd Avg Bytes/Bulk', ' Bwd Avg Packets/Bulk',
       'Bwd Avg Bulk Rate', 'Subflow Fwd Packets', ' Subflow Fwd Bytes',
       ' Subflow Bwd Packets', ' Subflow Bwd Bytes', 'Init_Win_bytes_forward',
       ' Init_Win_bytes_backward', ' act_data_pkt_fwd',
       ' min_seg_size_forward', 'Active Mean', ' Active Std', ' Active Max',
       ' Active Min', 'Idle Mean', ' Idle Std', ' Idle Max', ' Idle Min',
       ' Label'],
      dtype='object')


##### ==>>convert categorical and string data to numerical data
Flow ID, Source IP, Destination IP, Timestamp, External IP <br>
using LabelEncoder of sklearn

In [27]:
df_tuesday_dropped['Flow ID'].head(10)

0     192.168.10.3-192.168.10.5-88-49182-6
1     192.168.10.3-192.168.10.5-88-49183-6
2     192.168.10.3-192.168.10.5-88-49184-6
3     192.168.10.3-192.168.10.5-88-49185-6
4     192.168.10.3-192.168.10.5-88-49186-6
5     192.168.10.3-192.168.10.5-88-49189-6
6     192.168.10.3-192.168.10.5-88-49192-6
7    192.168.10.3-192.168.10.5-389-49193-6
8    192.168.10.3-192.168.10.5-389-49193-6
9     192.168.10.3-192.168.10.5-88-49194-6
Name: Flow ID, dtype: object

In [49]:
from sklearn import preprocessing      # import required package for labelencoding
le=preprocessing.LabelEncoder()        # create a label encoder (category) object
le.fit(df_tuesday_dropped['Flow ID'])  # fit encoder to pandas column

LabelEncoder()

In [50]:
# labels
le.classes_
# Apply fitted encoder to the pandas column
le.transform(df_tuesday_dropped["Flow ID"])

array([152266, 152267, 152268, ..., 157091,  79335, 174989])

In [55]:
#encoding Source IP
le_s_ip=preprocessing.LabelEncoder()
le_s_ip.fit(df_tuesday_dropped[' Source IP'])
le_s_ip.transform(df_tuesday_dropped[' Source IP'])

array([2145, 2145, 2145, ..., 2146, 5380, 2149])

In [56]:
# LabelEncoding Destination IP
le_d_ip=preprocessing.LabelEncoder()
le_d_ip.fit(df_tuesday_dropped[' Destination IP'])
le_d_ip.transform(df_tuesday_dropped[' Destination IP'])

array([2558, 2558, 2558, ..., 2558, 2556, 2558])

In [70]:
# Assigning numerical labels to TimeStamp
le_time_stamp=preprocessing.LabelEncoder()
le_time_stamp.fit(df_tuesday_dropped[' Timestamp'])
le_time_stamp.transform(df_tuesday_dropped[' Timestamp'])

array([422, 422, 422, ..., 439, 168,  38])

In [71]:
# External IP is also mentioned in documentation but in data set I have not found any external IP
# repeat above steps for external IP also for label encoding

In [28]:
group=df_tuesday_dropped.groupby(' Label')
group.first()

,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,Total Backward Packets,...,act_data_pkt_fwd,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min
Label,,,,,,,,,,,,,,,,,,,,,
BENIGN,192.168.10.3-192.168.10.5-88-49182-6,192.168.10.5,49182,192.168.10.3,88,6,4/7/2017 8:54,640,7,4,...,2,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
FTP-Patator,172.16.0.1-192.168.10.50-45422-80-6,172.16.0.1,45422,192.168.10.50,80,6,4/7/2017 10:30,5216127,3,1,...,0,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SSH-Patator,172.16.0.1-192.168.10.50-52358-22-6,172.16.0.1,52358,192.168.10.50,22,6,4/7/2017 3:11,404,2,0,...,0,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [86]:
# In the Label feature, the character "–" (Unicode Decimal Code &#8211) used to identify
# the web attack subtypes (Web Attack - Brute Force, Web Attack - XSS, Web Attack -
# SQL Injection) must be replaced with the character "-” (Unicode Decimal Code &#45),
# since utf-8, the default codec of Pandas library, does not recognize it. Otherwise, the
# Pandas library that will not recognize this character and it will fail.
df_tuesday_dropped[' Label'].replace('–', "-", inplace=True)

/home/ebryx/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6786: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

#### replace different types of attacks to one type "Attack"

In [29]:
grouped=df_tuesday_dropped.groupby(' Label')
grouped.first()

,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,Total Backward Packets,...,act_data_pkt_fwd,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min
Label,,,,,,,,,,,,,,,,,,,,,
BENIGN,192.168.10.3-192.168.10.5-88-49182-6,192.168.10.5,49182,192.168.10.3,88,6,4/7/2017 8:54,640,7,4,...,2,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
FTP-Patator,172.16.0.1-192.168.10.50-45422-80-6,172.16.0.1,45422,192.168.10.50,80,6,4/7/2017 10:30,5216127,3,1,...,0,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SSH-Patator,172.16.0.1-192.168.10.50-52358-22-6,172.16.0.1,52358,192.168.10.50,22,6,4/7/2017 3:11,404,2,0,...,0,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
# change labels of all types of attacks to single "Attack label
df_tuesday_dropped.replace('FTP-Patator', 'ATTACK', inplace=True)
df_tuesday_dropped.replace('SSH-Patator', 'ATTACK', inplace=True)
grouped=df_tuesday_dropped.groupby(' Label')
grouped.first()

/home/ebryx/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,Total Backward Packets,...,act_data_pkt_fwd,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min
Label,,,,,,,,,,,,,,,,,,,,,
ATTACK,172.16.0.1-192.168.10.50-45422-80-6,172.16.0.1,45422,192.168.10.50,80,6,4/7/2017 10:30,5216127,3,1,...,0,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
BENIGN,192.168.10.3-192.168.10.5-88-49182-6,192.168.10.5,49182,192.168.10.3,88,6,4/7/2017 8:54,640,7,4,...,2,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [111]:
# "Flow Bytes/s", "Flow Packets/s" features include the values "Infinity" and "NaN" in
# addition to the numerical values, which can be modified to -1 and 0 respectively to
# make them suitable for machine learning algorithms.
df_tuesday_dropped[[' Flow Packets/s', 'Flow Bytes/s']].replace('Infinity', -1, inplace=True)
df_tuesday_dropped[[' Flow Packets/s', 'Flow Bytes/s']].replace('NaN', 0, inplace=True)

### Saved preprocessed cleaned data to cleaned folder

In [112]:
df_tuesday_dropped.to_csv("../dataset/Cleaned/Tuesday-WorkingHours.pcap_ISCX.csv")

In [2]:
df=pd.read_csv("../dataset/Cleaned/Tuesday-WorkingHours.pcap_ISCX.csv")

/home/ebryx/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)


##  2. Creation of Training and testing data

In [6]:
from sklearn.model_selection import train_test_split     # import module for train test split